<div class="jumbotron text-center">
  <div class="container">
    <a href=""><img src="assets/img/google.png"></a>
    <h2>Useful Links</h2>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Index</th>
            <th scope="col">Links</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-active">
            <th scope="row">1</th>
            <td><a href="https://my.concordia.ca/psp/upprpr9/?cmd=login&languageCd=ENG">My Concordia</a></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><a href="https://www.concordia.ca/">Concordia Website</a></td>
          </tr>
          <tr class="table-primary">
            <th scope="row">3</th>
            <td><a href="https://stores.concordia.ca/">Book Store</a></td>
          </tr>
          <tr class="table-secondary">
            <th scope="row">Secondary</th>
            <td>Column content</td>
          </tr>
          <tr class="table-success">
            <th scope="row">Success</th>
            <td>Column content</td>
          </tr>
          <tr class="table-danger">
            <th scope="row">Danger</th>
            <td>Column content</td>
          </tr>
          <tr class="table-warning">
            <th scope="row">Warning</th>
            <td>Column content</td>
          </tr>
          <tr class="table-info">
            <th scope="row">Info</th>
            <td>Column content</td>
          </tr>
          <tr class="table-light">
            <th scope="row">Light</th>
            <td>Column content</td>
          </tr>
          <tr class="table-dark">
            <th scope="row">Dark</th>
            <td>Column content</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
